.aboutTodoList {
    background-color: var(--bg-item);
    color: var(--primary-color);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}