.todosSorter .active {
    color: var(--BrightBlue);
    font-weight: bold;
}

.todosSorter {
    background-color: var(--bg-item);
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media screen and (max-width: 768px) {
    .todosSorter {
        margin-top: 1rem;
    }
}
    

.todosSorter a {
    color: var(--primary-color);
    text-decoration: none;
}

.todosSorter a:hover {
    color: var(--LightGrayishBlueHover);
}