.createNewTodo {
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createNewTodo input {
    font-family: 'Josefin Sans', sans-serif !important;
    color: var(--primary-color);
    font-size: 18px;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--bg-item);
    
}
.createNewTodo input:focus {
    outline: none;
}