.createNewTodo {
    
    margin-top: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createNewTodo input {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--bg-item);
    
}