.todoIten {
    padding: 1rem;
    border-bottom: 1px solid var(--border-todo-item);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}



.btnCrossHidden {
    visibility: hidden;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-todo-item);
    cursor: pointer;
    width: 20px;
    height: 20px;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.btnCross {
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
.todoIten button img {
    width: 100%;
    height: 100%;
}

.ItenTitle {
    cursor: pointer;
}
.done {
    text-decoration: line-through;
    color: var(--completed);
}