.todosContainer {
    margin: 0 1rem;
    max-width: 500px;
    width: calc(100% - 2rem);
    z-index: 100;
}



.todoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.todoHeader h1 {
    letter-spacing: .5rem;
    color: white;
}







    
