.todosContainer {
    background-color: tomato;
    padding: 1rem;
}

.active {
    color: red;
    font-weight: bold;
}

.todosSorter {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.todosSorter a {
    color: lightseagreen;
    text-decoration: none;
}
