.themeSwitcher img {
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    