@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ## Colors

  ### Primary */

:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

/* ### Neutral */

/* ### Light Theme */

.light {
  --bg-item: white;
  --bg-container: hsl(235, 24%, 19%);
  --primary-color: white;
  --secondary-color: hsl(235, 24%, 19%);
  --link-active: lightcoral;
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
}

/* Dark Theme */
.dark {
  --bg-item: hsl(237, 14%, 26%);
  --bg-container: hsl(235, 24%, 19%);
  --primary-color: hsl(234, 11%, 52%);
  --secondary-color: hsl(236, 33%, 92%);
  --link-active: hsl(220, 98%, 61%);;
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}


/* TODO: add colors to :root */