@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* * {
  outline: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ## Colors

:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}




/* ### Light Theme */

.light {
  --bg-checkbox: hsl(233, 11%, 84%);
  --bg-item: white;
  --bg-container: hsl(236, 33%, 92%);
  --primary-color: hsl(234, 11%, 52%);
  --secondary-color: hsl(235, 24%, 19%);
  --completed: hsl(233, 11%, 84%);
  --border-todo-item: hsl(233, 11%, 84%);
  --hoverColor: hsl(237, 14%, 26%);
  
}

/* Dark Theme */
.dark {
  --bg-checkbox: hsl(234, 11%, 52%);
  --bg-item: hsl(237, 14%, 26%);
  --bg-container: hsl(235, 24%, 19%);
  --primary-color: hsl(234, 39%, 85%);
  --secondary-color: hsl(234, 11%, 52%);
  --completed: hsl(236, 9%, 61%);
  --border-todo-item: hsl(233, 14%, 35%);
  --hoverColor: hsl(236, 33%, 92%);
  
}
